section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 80px;
    #temporary_span {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(243, 243, 243, 0.7);
        padding: 5px 10px;
        border-radius: 5px;
        pointer-events: none;
        transition: opacity 0.5s ease-in-out;
    }
    .bmc-btn-container {
        display: flex;
        align-items: center;
        margin-top: 35px;
    }
    #npm_install {
        position: relative;
        justify-content: center;
        @media (min-width: 1000px) {
            width: 890px;
            margin: auto;
        }
        button {
            width: 90px;
            position: absolute;
            right: 225px;
            border: 0;
            outline: 0;
            cursor: pointer;
            color: white;
            background-color: rgb(84, 105, 212);
            box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 500;
            padding: 4px 8px;
            display: inline-block;
            min-height: 28px;
            transition: background-color .24s, box-shadow .24s;
            // Defina as regras para o hover
            &:hover {
                box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
            }
            &:active {
                background-color: #1F2328;
            }
        }
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
            margin-block: 10px;
            width: 170px;
        }
    }
    pre {
        padding: 16px;
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
        color: #1F2328;
        background-color: #f6f8fa;
        border-radius: 6px;
        border: 1px #1F2328;
        width: 50%;
        margin: auto;
    }
}