$primary-color: #124881;
$secondary-color: #6c757d;
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f9fa;
    color: #343a40;
}

#page-content-wrapper {
    .container-fluid,
    .container {
        max-width: 800px;
        margin: 0 auto;
        .title {
            color: $primary-color;
            border-bottom: 2px solid $primary-color;
            padding-bottom: 10px;
        }
        .subtitle {
            color: $secondary-color;
            margin-top: 30px;
        }
        p {
            line-height: 1.6;
            margin-bottom: 20px;
            code {
                background-color: #f8f9fa;
                padding: 2px 5px;
                border: 1px solid #ccc;
                border-radius: 3px;
            }
        }
        ul {
            padding-left: 20px;
            margin-top: 5px;
            margin-bottom: 20px;
            li {
                strong {
                    font-weight: bold;
                }
            }
            pre {
                background-color: #f8f9fa;
                border: 1px solid #ccc;
                padding: 10px;
                white-space: pre-wrap;
                word-break: break-all;
            }
        }
        pre {
            background-color: #f8f9fa;
            border: 1px solid #ccc;
            padding: 10px;
            white-space: pre-wrap;
            word-break: break-all;
        }
        code {}
    }
}

.lastLi {
    margin-bottom: 20px;
}