// Wrapper Styles
#wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
    &.toggled {
        padding-left: 250px;
    }
}

#examples_code {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    code {
        background-color: #f2f2f2;
        padding: 2px 4px;
        border-radius: 4px;
    }
    pre {
        background-color: #f2f2f2;
        padding: 10px;
        border-radius: 4px;
        overflow-x: auto;
        display: flex;
    }
    #examples_code {
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 4px;
        margin-top: 20px;
    }
    a {
        color: #007BFF;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    p {
        margin-bottom: 10px;
    }
}

// Sidebar Wrapper Styles
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    transition: all 0.5s ease;
    overflow-x: hidden;
    #wrapper.toggled & {
        width: 250px;
    }
}

// Page Content Wrapper Styles
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    #wrapper.toggled & {
        position: absolute;
        margin-right: -250px;
    }
}

// Sidebar Styles
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        text-indent: 20px;
        line-height: 40px;
        a {
            display: block;
            text-decoration: none;
            color: #999999;
            &:hover {
                text-decoration: none;
                color: #fff;
                background: rgba(255, 255, 255, 0.2);
            }
            &:active,
            &:focus {
                text-decoration: none;
            }
        }
    }
    &>.sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
        a {
            color: #999999;
            &:hover {
                color: #fff;
                background: none;
            }
        }
    }
}

// Media Query
@media (min-width: 768px) {
    #wrapper {
        padding-left: 0;
        &.toggled {
            padding-left: 250px;
        }
    }
    #sidebar-wrapper {
        width: 0;
        #wrapper.toggled & {
            width: 250px;
        }
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
        #wrapper.toggled & {
            position: relative;
            margin-right: 0;
        }
    }
}
